$font-stack: Helvetica, sans-serif;
$primary-color: #000;
$font-size: 15px;

body { 
    font: 100% $font-stack; 
    background-color: $primary-color;
    color: $primary-color;
    font-size: $font-size;
}

.btn {
    &:visited {color: white;}
    &:hover {color: blue;}
    &:active {color: green;}
    &-primary {color: yellow;}
    &-secondary {color: gray;}
}


