$font-stack: Helvetica, sans-serif;
$primary-color: white;
$font-size: 15px;
$font-color: black;
body { 
    font: 100% $font-stack; 
    background-color: #4c4747;
    font-size: $font-size;
    color: $font-color;
}

.btn {
    &:visited {color: white;}
    &:hover {color: blue;}
    &:active {color: green;}
    &-primary {color: yellow;}
    &-secondary {color: gray;}
}
.content-body {
  border-radius:3px;
  position:relative;
  margin:10% auto auto auto;
  width:450px;
  padding:40px 50px;
  display:table;
  background-color:#fff;
}

